/* Reset Browser Default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom CSS */
section {
   margin: 10vh 25vw;
}

div {
    display: grid;
}

img {
    width: 100%;
}

button {
    width: 100%;
    padding: 1rem;
    background-color: blueviolet;
    color: #FFF;
    border: none;
    cursor: pointer;
    /* Linear gradient with Browser Support */
    background: -moz-linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
    background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
}

/* Accessibility Browser Support */
[aria-hidden="true"] { visibility: hidden; }